@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  font-family: sans-serif;
  background-color: #000; /* black background */
  color: #fff;            /* white text */
}
